#AuthType Basic
#  AuthName "Moja prywatna strefa. Zakaz wstepu."
#  AuthUserFile /home/$USER/public_html/private_html/.htpasswd
#  Require valid-user

AuthType Basic
AuthName "private area"
AuthBasicProvider PAM
AuthPAMService apache
require user #USERNAME#